<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>My Example App</title>
  </head>
  <body>
    {{> header}} {{> footer}}
  </body>
  <script src="../assets/js/all.js"></script>
</html>
